@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  padding: 10px;
  height: 100vh;
}

.layout {
  display: flex;
}

.sidebar {
  min-height: 100%;
  width: 300px;
  background: linear-gradient(to right, rgb(53, 142, 220), rgb(18, 85, 219));
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(5, 123, 207, 0.553);
  margin-right: 20px;
}

.content {
  height: 100%;
  width: 100%;
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.body {
  height: 79vh;
  margin-bottom: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 1rem;
    margin: 20px 0;
}

.logo h6{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: bolder;
}

.logo img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 999;
  border: 1px solid blue;
  box-shadow: 1px 1px 2px blue;
}

.logo-content{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

